::selection {
  background: skyblue;
  color: midnightblue;
}

:root {
  color: midnightblue;
  background: violet;
}

:any-link {
  color: inherit;
}

dfn,
mark {
  color: violet;
  background: midnightblue;
}

@media (prefers-contrast: more) {
  ::selection { background: powderblue }
}

@media (prefers-contrast: less) {
  :root { background: orchid }
  ::selection { background: orange }
}
