:any-link {
  text-decoration-style: wavy;
}

:focus {
  outline: thick dotted;
  text-decoration-style: dotted;
}

html {
  font-family: monospace;
  font-size: calc(1em + 1vmin + 2vmax);
  line-height: 1.618;
}

@media (orientation: portrait) {
  html {
    font-family: sans-serif;
  }
}

body {
  contain: layout;
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 1em;
}

dl {
  contain: layout;
  display: flow-root;
  margin-block: 3ex;
  padding: 0;
}

dt {
  clear: both;
  float: inline-start;
  margin: 0;
}

dd {
  float: inline-start;
  margin: 0;
  margin-inline-start: 1ex;
}

menu { padding: 0 }
li { margin-block: 1ex }

dfn,
mark {
  border-radius: 1ex;
  display: inline-block;
  font: inherit;
  padding-inline-start: 1ex;
  padding-inline-end: 1ex;
  margin-block-end: 1ex;
}

h1 {
  display: inline;
  font: inherit;
}

h2 {
  font: inherit;
  margin: 0;
}

.simp {
  font-size: max(16pt, 0.666em);
}
